<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrej.seabattle">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/missile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/missile"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MenuMusicService" />

        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameModeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PlayerModeActivity" android:screenOrientation="portrait"/>
        <activity android:name=".NewPlayerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SelectPlayerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PlayersActivity" android:screenOrientation="portrait" />
        <activity android:name=".CreateOrJoinGameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CreateGameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".PairDeviceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DefineBattlegroundActivity" android:screenOrientation="portrait"/>
        <activity android:name=".GameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BluetoothGameActivity" android:screenOrientation="portrait"/>
        <activity android:name=".WaitingOpponentActivity" android:screenOrientation="portrait"/>

        <service
            android:name=".GameMusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".GamesHistoryActivity"/>
    </application>

</manifest>