<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrej.seabattle">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/missile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/missile"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".MenuMusicService" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameModeActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".PlayerModeActivity" />
        <activity android:name=".NewPlayerActivity" />
        <activity android:name=".SelectPlayerActivity" />
        <activity android:name=".PlayersActivity" />
        <activity android:name=".CreateOrJoinGameActivity" />
        <activity android:name=".CreateGameActivity" />
        <activity android:name=".PairDeviceActivity" />
        <activity android:name=".DefineBattlegroundActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".BluetoothGameActivity" />
        <activity android:name=".WaitingOpponentActivity" />

        <service
            android:name=".GameMusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".GamesHistoryActivity"></activity>
    </application>

</manifest>